/* Initial settings */
html {
  background-color: #a5ac8c;
  font-family: 'Montserrat', sans-serif;
}

/* List of cards */
ul {
  display: flex;
}

ul li {
  height: 4em;
}

img {
  width: 5em;
}

/* Dealer */

.dealer-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* All players container */
.players {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

/* Settings for each player */

.player {
  width: 33%;
  height: 14em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3em;
}

.player button {
  border-radius: 1em;
  width: 10em;
  height: 4em;
  display: none;
  cursor: pointer;
}

button:nth-child(3) {
  position: relative;
  left: -5em;
  top: 5.15em;
}
button:nth-child(4) {
  position: relative;
  left: 5em;
  top: 3em;
}

/* Settings for Current player */
.active {
  background-color: #fefae0;
  border-radius: 40%;
}

.active button {
  display: inline-block;
}

@media (max-width: 1200px) {
  .player {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .player {
    width: 100%;
  }
}
